@import 'base';

#container {
	width: 100%;
	height: 100%;

	#top-nav {
		position: fixed;
		width: 100%;
		top: 0px;
		height: 50px;
		margin-bottom: 50px;
		z-index: 9999;
	}

	#content  {
		width: 75%;
		margin-top: 100px;
    height: 75%;
    position: relative;
	}

}
.meal-container {
	input, select {
		margin-bottom: 12px;
	}
}


table.slim {
	thead, td, tr, tbody, th {
		border: 0px;
	}
	td{
		padding: 0px;
		margin: 0px;
		border: none;
		background-color: white;
	}
	input {
		margin: 0px;
		border-radius: 0px;
		text-align: center;
	}
}



table.meal-list {
	tbody {
		tr {
			background: #e9e9e9;
		}
		tr.inner {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			font-size: 0.9em;
			background: none;
		}
	}
	th.slim {
		padding: 0px;
		padding-bottom: 3px;
	}
}
