@import 'base';

#login-content {
	width: 100%;
	height: 100%;
	text-align: center;

	h1 {
		margin-bottom: 36px;
	}


  #login-box {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-bottom: 150px;

    h2 {
    	margin-bottom: 12px;
    }
    input {
    	margin-bottom: 12px;
    }
    button {
    	margin: 12px;
    }
  }

  input {
  	border-radius: 0px !important;
  }

}
